@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.842);
    
    font-family: 'Playfair Display', serif; 
}

a {
    color: coral;
}

.titulos {

    font-family: 'Playfair Display', serif;
    color: white;
}